*{
  font-family: "East Sea Dokdo", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: lightblue;

}

@media only screen and (max-width: 600px){
    * {
      background-color: lightgreen;
      font-family: Arial, Helvetica, sans-serif;
    }
  }