*{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.head{
    text-align: center;
}
.title{
    font-size: x-large;
    font-weight: bold;
}
span{
    font-weight: bold;
    font-size: 16px;
}

/*exercise*/
.t1{
    width: 1000px;
    height: 100px;   
    /* margin-left: 10px;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2em; */
    margin:10px 10% 2rem 2em;
    border: thick outset greenyellow;
    padding: 5% 10% 1% 5%;
    outline: 10px solid rgb(192, 90, 112);
    outline-offset: -15px;
    outline-style: inset;
    background-color: lightcyan;
    font-size: larger;
    color: blueviolet;
}

label,input,button{
    color: darkblue;
    font-size: large;
    font-weight: bold;
}

.t2{
    font-size: large;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 2em;
}
.t3{
    line-height: 1.5;
    letter-spacing: 0.5em;
    word-spacing: 0.5em;
    font-weight: 400;
}
.t4{
    font-family: sans-serif;
    text-decoration: line-through;
}
a:visited{
    color:deeppink
}
a:hover, a:focus {
    color: blue;
}
a:active{
    color: orange
}