/* 1. element selector */
body{
    font-weight:bolder;
    font-size: 30px;
}
/* comma for both h2 and h3 on this page with this rule */
h2,h1{
    color: rgb(10, 10, 10);
}

/* 2. 'class' selector 
    class can be used more than once "reusable'
    .classname                       */
.gray{
    color: rgb(196, 189, 189);
}
/* <span> tag in <p> tag */
p span{
    text-transform:uppercase;
    background-color: gold;
}

.hightlight{
    background-color: lime;
}
/* 3. 'id' selector
    unique , only exist once 
    #idname                   */
#second{
    font-weight: bold;
}

/* universal selector 
    CSS  reset              */
*{
    font-family: monospace;
}


/* inherit attribute */
.parent {
    font-size: 50px;
}

.child {
    font-size: inherit;
}



/* The !important declaration takes precedence over other declarations. */