.head{
    text-align: center;
}
.title{
    font-size: x-large;
    font-weight: bold;
}
span{
    font-weight: bold;
    font-size: 16px;
}

/*exercise*/
.t1{
    border:2px dashed red;
    margin: auto;
    font-size: 2rem;
    padding: 01%;
}
.t2{
    width: 1000px;
    height: 100px;   
    /* margin-left: 10px;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2em; */
    margin:10px 10% 2rem 2em;
    border: thick outset greenyellow;
    padding: 5% 10% 1% 5%;
    outline: 10px solid rgb(192, 90, 112);
    outline-offset: -15px;
    outline-style: inset;
    background-color: lightcyan;
}

.t3{
    width: 800px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    box-sizing:border-box; 
}
.circle{
    background-color: gold;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px outset rgb(58, 7, 100);
    border-radius: 50%;
    outline-style: outset;
}