*{
    margin:0;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color:#000;
    text-align: center;
}


body{
    font-family: "Madimi One", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container{
    margin: 6rem auto;
    height: 80vh;
    width: 75vw;
    border: 3px dashed #000;
    position: relative; /*ancestor of position set to relative*/
}

.inner-container{
border:2px  solid #00f;
width: 40vw;
height: 50vh;
margin: 100px auto;
}

.box{
    width:150px;
    height:150px;
    color:rgba(128, 128, 128, 0.034);
    padding: 1rem;
    border:3px solid green;
    border-radius: 10px;
}

/*define a relative container */
.absolute{
    background-color: lightblue;
    position: absolute;
    top: 0;
    left:0;
}

/* relative to parent container */
.relative{
    background-color: red;
    position: relative;
    top: 5rem;
    left: 10rem;
}

/* scroll the mouse and the container will fixed in the same position */
.fixed{
    background-color:orange;
    position:fixed;
    top:100px;
}

/* thresholdd */
.sticky{
    background-color: plum;
    position:sticky;
    left:50rem;
    top: 50rem;
}
